<div class="row">
  
  <div class="col-lg-12">
    <h2 style="margin-top: 0px;" >{{description}}</h2>
  </div>
  <div class="col-lg-12">
    <div class="row ">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body">
              <ul class="breadcrumb">
                  <li><a ui-sref="app.dashboard">Dashboard</a></li>
                  <li class="active">{{description}}</li>
              </ul>
              
              <div class="table-responsive">

                <form class="form-inline">
                  <div class="form-body">
                    <div class="form-group pull-right">
                      <span >Search</span> : <input id="filter" type="text" class="form-control input-sm w-auto inline m-r" ng-model="search_text" placeholder="Search.." ng-model-options="{debounce: 750}" ng-change="search_data()"/>
                    </div>
                  </div>
                </form>
                <table class="table table-border table-striped m-b-none" >
                  <thead>
                    <tr>
                        <th >#
                        </th>
                        <th>Date
                        </th>
                        <th>Member
                        </th>
                        <th >Topic
                        </th>
                        <th >Reply
                        </th>
                        <th >Status
                        </th>
                        <th >Action
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in datas ">
                        <td>{{item.code}}</td>
                        <td>{{item.created_at | date:'MM/dd/yyyy' }}</td>
                        <td>{{item.member}}</td>
                        <td>{{item.topic}}</td>
                        <td>{{item.reply}}</td>
                        <td>
                          <span class="label m-t-xs orange label-xs" ng-show="item.forum_stat ==null || item.forum_stat ==0 || item.forum_stat==8 ">OPEN</span>
                          <span class="label m-t-xs blue label-xs" ng-show="item.forum_stat !=null && item.forum_stat != 0 && item.forum_stat !=8  ">CLOSE</span>
                        </td>
                        <td>
                          <button  class="btn btn-xs" type="button" ng-click="detail_data('{{item.id}}')" tooltip="detail" ><i class="fa fa-list"></i></button>
                        </td>
                    </tr>
                    
                  </tbody>
                  <tfoot >
                    <tr>
                        <td colspan="5" class="text-center">
                              <paging
                                    class="large"
                                    page="1"
                                    page-size="paging.page_size"
                                    total="paging.total"
                                    text-first="&laquo;"
                                    text-last="&raquo;"
                                    text-next="&rsaquo;"
                                    text-prev="&lsaquo;"
                                    text-title-page="Page Page hover title text"
                                    text-title-first="First Page hover title text"
                                    text-title-last="Last Page hover title text"
                                    text-title-next="Next Page hover title text"
                                    text-title-prev="Previous hover Page title text"
                                    adjacent="2"
                                    dots="..."
                                    scroll-top="true"
                                    hide-if-empty="true"
                                    ul-class="pagination"
                                    active-class="active"
                                    disabled-class="disabled"
                                    show-prev-next="true"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
                                </paging>
                        </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            
        
          </div>
        </div>
      
      </div>
    
    </div>
  </div>
</div>

