<div class="panel panel-default">
	<div class="panel-heading" >Change Password</div>
	<div>
		<br>
		<br>
		<tabset class="tab-container">
			
				
				<form class="form-horizontal" method="post">
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3" >Username</label>
							<div class="col-md-6">
								<input type="text" class="form-control" ng-model="data.username" readonly="readonly">
							</div>
						</div>
					</div>

					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3" >Old Password</label>
							<div class="col-md-6">
								<input type="password" class="form-control" ng-model="data.old_password">
							</div>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3" >New Password</label>
							<div class="col-md-6">
								<input type="password" class="form-control" ng-model="data.new_password">
							</div>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3" >Confirm New Password</label>
							<div class="col-md-6">
								<input type="password" class="form-control" ng-model="data.new_password_confirm">
							</div>
						</div>
					</div>
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3" ></label>
							<div class="col-md-6">
								<button class="btn btn-success" ng-click="ok()" >Submit</button>
							</div>
						</div>
					</div>

				</form>

			
		</tabset>
	</div>
</div>